name: OpenCloud
version: 5.0.2-v2
slug: opencloud
description: "file sharing platform: Secure, simple and reliable"
url: https://opencloud.eu
webui: "[PROTO:ssl]://[HOST]:[PORT:8080]"
arch:
  - aarch64
  - amd64
init: false
hassio_api: true
map:
  - type: addon_config
    read_only: false
  - type: share
    read_only: false
  - type: ssl
backup: cold
backup_exclude:
  - "**/logs"
tmpfs: true
video: true
usb: true
udev: true
privileged:
  - SYS_ADMIN
  - DAC_READ_SEARCH
devices:
  - /dev/ttyUSB0
  - /dev/kfd
  - /dev/dri
  - /dev/dxg
  - /dev/vchiq
  - /dev/video0
  - /dev/video1
  - /dev/video10
  - /dev/mmcblk
  - /dev/fuse
  - /dev/nvme
  - /dev/nvme0
  - /dev/nvme0n1
  - /dev/nvme0n1p1
  - /dev/nvme0n1p2
  - /dev/nvme0n1p3
  - /dev/nvme1
  - /dev/nvme1n1
  - /dev/nvme1n1p1
  - /dev/nvme1n1p2
  - /dev/nvme1n1p3
  - /dev/nvme2
  - /dev/nvme2n1
  - /dev/nvme2n1p1
  - /dev/nvme2n1p2
  - /dev/nvme2n3p3
  - /dev/nvme3
  - /dev/nvme3n1
  - /dev/nvme3n1p1
  - /dev/nvme3n1p2
  - /dev/nvme3n3p3
  - /dev/nvme4
  - /dev/nvme4n1
  - /dev/nvme4n1p1
  - /dev/nvme4n1p2
  - /dev/nvme4n3p3
  - /dev/sda
  - /dev/sda1
  - /dev/sda2
  - /dev/sda3
  - /dev/sda4
  - /dev/sdb
  - /dev/sdb1
  - /dev/sdb2
  - /dev/sdb3
  - /dev/sdb4
  - /dev/sdc
  - /dev/sdc1
  - /dev/sdc2
  - /dev/sdc3
  - /dev/sdc4
  - /dev/sdd
  - /dev/sdd1
  - /dev/sdd2
  - /dev/sdd3
  - /dev/sdd4
  - /dev/sde
  - /dev/sde1
  - /dev/sde2
  - /dev/sde3
  - /dev/sde4
  - /dev/sdf
  - /dev/sdf1
  - /dev/sdf2
  - /dev/sdf3
  - /dev/sdf4
  - /dev/vda
  - /dev/vda1
  - /dev/vda2
  - /dev/vda3
  - /dev/vda4
  - /dev/vdb
  - /dev/vdb1
  - /dev/vdb2
  - /dev/vdb3
  - /dev/vdb4
  - /dev/vdc
  - /dev/vdc1
  - /dev/vdc2
  - /dev/vdc3
  - /dev/vdc4
  - /dev/vdd
  - /dev/vdd1
  - /dev/vdd2
  - /dev/vdd3
  - /dev/vdd4
  - /dev/vde
  - /dev/vde1
  - /dev/vde2
  - /dev/vde3
  - /dev/vde4
  - /dev/vdf
  - /dev/vdf1
  - /dev/vdf2
  - /dev/vdf3
  - /dev/vdf4
schema:
  OC_LOG_LEVEL: list(panic|fatal|error|warn|info|debug|trace)
  OC_URL: str
  OC_BASE_DATA_PATH: str
  storage_mounts:
    - path: str
      type: list(local|smb|cifs|nfs)
      mount: str
      options: str?
      auto_format: bool?
      erase: bool?
      username: str?
      password: password?
  TZ: str?
  ssl: bool
  certfile: str?
  keyfile: str?
  OC_DEFAULT_LANGUAGE: str
  OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD: bool
  OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD: bool
  NOTIFICATIONS_SMTP_HOST: str?
  NOTIFICATIONS_SMTP_PORT: int(0,65535)?
  NOTIFICATIONS_SMTP_SENDER: str?
  NOTIFICATIONS_SMTP_USERNAME: str?
  NOTIFICATIONS_SMTP_PASSWORD: password?
  NOTIFICATIONS_SMTP_INSECURE: bool?
  NOTIFICATIONS_SMTP_AUTHENTICATION: str?
  NOTIFICATIONS_SMTP_ENCRYPTION: str?
  env_vars:
    - key: match(^[A-Za-z0-9_-]+$)
      value: str
options:
  OC_LOG_LEVEL: warn
  OC_BASE_DATA_PATH: /share/opencloud
  storage_mounts: []
  TZ: Etc/UTC
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
  OC_DEFAULT_LANGUAGE: en
  OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD: true
  OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD: true
  env_vars: []
ports:
  8080/tcp: 9200
ports_description:
  8080/tcp: OpenCloud UI
image: fabioogaravini/hassio-opencloud
