name: Audiobookshelf
version: 2.32.1
slug: audiobookshelf
description: Audiobook and podcast server
url: https://www.audiobookshelf.org
webui: "[PROTO:ssl]://[HOST]:[PORT:8080]"
arch:
  - aarch64
  - amd64
init: false
hassio_api: true
map:
  - type: data
    read_only: false
  - type: addon_config
    read_only: false
  - type: media
    read_only: false
  - type: share
    read_only: false
  - type: ssl
backup: cold
backup_exclude:
  - "**/logs"
schema:
  TZ: str?
  ssl: bool
  certfile: str?
  keyfile: str?
options:
  TZ: Etc/UTC
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
ports:
  8080/tcp: 13378
ports_description:
  8080/tcp: Web UI
image: fabioogaravini/hassio-audiobookshelf
