name: Spoolman Sync
version: 1.1.1
slug: spoolman_sync
description: The easiest way to sync Bambu Lab AMS filament with Spoolman
url: https://github.com/gibz104/SpoolmanSync
webui: "[PROTO:ssl]://[HOST]:[PORT:8080]"
arch:
  - aarch64
  - amd64
init: false
map:
  - type: ssl
backup: cold
backup_exclude:
  - "**/logs"
schema:
  TZ: str?
  ssl: bool
  certfile: str?
  keyfile: str?
  NEXTAUTH_URL: str?
options:
  TZ: Etc/UTC
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
ports:
  8080/tcp: 7913
ports_description:
  8080/tcp: Web UI
image: fabioogaravini/hassio-spoolman-sync
