name: Prometheus
version: 3.7.3
slug: prometheus
description: Prometheus monitoring system
url: https://prometheus.io
startup: initialize
arch:
  - aarch64
  - amd64
init: false
backup: cold
map:
  - type: data
    read_only: false
    path: /prometheus
  - type: addon_config
    read_only: true
    path: /etc/prometheus
ports:
  9090/tcp: null
ports_description:
  9090/tcp: Metrics
image: fabioogaravini/hassio-prometheus
