name: Prometheus
version: v3.4.1-v0
slug: prometheus
codenotary: info@fabiogaravini.dev
description: Prometheus monitoring system
url: https://prometheus.io
startup: initialize
backup: cold
arch:
  - aarch64
  - armv7
  - amd64
init: false
backup: cold
map:
  - type: data
    read_only: false
    path: /prometheus
  - type: addon_config
    read_only: true
    path: /etc/prometheus
ports:
  9090/tcp: null
ports_description:
  9090/tcp: Metrics
image: fabioogaravini/hassio-{arch}-prometheus