name: Paperless
version: 2.20.6-v1
slug: paperless
description: Document management system that transforms your physical documents
  into a searchable online archive
url: https://docs.paperless-ngx.com
webui: "[PROTO:ssl]://[HOST]:[PORT:8080]"
arch:
  - aarch64
  - amd64
init: false
map:
  - type: addon_config
    read_only: false
  - type: share
    read_only: false
  - type: media
    read_only: false
  - type: ssl
backup: cold
backup_exclude:
  - "**/logs"
  - "**/tmp"
tmpfs: true
schema:
  PAPERLESS_URL: str?
  ssl: bool
  certfile: str?
  keyfile: str?
  USERMAP_UID: int(0,)
  USERMAP_GID: int(0,)
  PAPERLESS_TIME_ZONE: str?
  PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: bool?
  PAPERLESS_ADMIN_USER: str
  PAPERLESS_ADMIN_MAIL: str?
  PAPERLESS_ADMIN_PASSWORD: password
  PAPERLESS_OCR_LANGUAGE: str?
  PAPERLESS_OCR_LANGUAGES: str?
  PAPERLESS_SECRET_KEY: password?
  PAPERLESS_CONSUMER_POLLING: int(0,)?
  PAPERLESS_TRUSTED_PROXIES: str?
  PAPERLESS_CONSUMPTION_DIR: str
  PAPERLESS_MEDIA_ROOT: str
  PAPERLESS_EXPORT_DIR: str
  PAPERLESS_EMPTY_TRASH_DIR: str?
  env_vars:
    - key: match(^[A-Za-z0-9_-]+$)
      value: str
options:
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
  USERMAP_UID: 0
  USERMAP_GID: 0
  PAPERLESS_TIME_ZONE: Etc/UTC
  PAPERLESS_TRUSTED_PROXIES: 172.30.32.0/23
  PAPERLESS_CONSUMPTION_DIR: /share/paperless/consume
  PAPERLESS_MEDIA_ROOT: /share/paperless
  PAPERLESS_EXPORT_DIR: /share/paperless/export
  PAPERLESS_EMPTY_TRASH_DIR: /share/paperless/.trash
  env_vars: []
ports:
  8080/tcp: 8010
ports_description:
  8080/tcp: Web UI
image: fabioogaravini/hassio-paperless
