name: PocketBase
version: 0.36.1
slug: pocketbase
description: Pocketbase is an open source backend
url: https://pocketbase.io
webui: http://[HOST]:[PORT:8090]/_/
backup: cold
arch:
  - aarch64
  - amd64
init: false
map:
  - type: addon_config
    read_only: false
  - type: data
    read_only: false
  - type: ssl
schema:
  ADMIN_EMAIL: str
  ADMIN_PASSWORD: password
  ENCRYPTION_KEY: password
  TZ: str?
options:
  ENCRYPTION_KEY: xogmwSqmcMauBi8wootWVdBz4PCMEjC8
ports:
  8090/tcp: 8090
ports_description:
  8090/tcp: Web UI
image: fabioogaravini/hassio-pocketbase
