name: Nextcloud
version: 32.0.5-v4
slug: nextcloud
description: Nextcloud all-in-one
url: https://nextcloud.com
arch:
  - aarch64
  - amd64
init: false
webui: https://[HOST]:[PORT:443]
map:
  - type: addon_config
    read_only: false
  - type: data
    read_only: false
  - type: share
    read_only: false
  - type: media
    read_only: false
  - type: ssl
backup: cold
backup_exclude:
  - "**/log"
tmpfs: true
video: true
devices:
  - /dev/kfd
  - /dev/dri
  - /dev/vchiq
  - /dev/video0
  - /dev/video10
schema:
  PUID: int(0,)
  PGID: int(0,)
  TZ: str?
  certfile: str?
  keyfile: str?
  ADMIN_USER: str
  ADMIN_PASS: password
  DEFAULT_PHONE_REGION: str?
  OVERWRITEPROTOCOL: list(http|https)?
  OVERWRITEHOST: str?
  OVERWRITECLIURL: str?
  trusted_proxies:
    - str?
  trusted_domains:
    - str?
  SMTP_HOST: str?
  SMTP_SECURE: list(STARTTLS|SSL)?
  SMTP_PORT: port?
  SMTP_AUTH: bool?
  SMTP_AUTHTYPE: list(LOGIN|PLAIN)?
  SMTP_USER: str?
  SMTP_PASS: password?
  MAIL_FROM_ADDRESS: str?
  MAIL_DOMAIN: str?
options:
  PUID: 1000
  PGID: 1000
  certfile: fullchain.pem
  keyfile: privkey.pem
  ADMIN_USER: admin
  ADMIN_PASS: password123
ports:
  80/tcp: null
  443/tcp: 8443
  3306/tcp: null
  6379/tcp: null
ports_description:
  80/tcp: HTTP
  443/tcp: HTTPS
  3306/tcp: MariaDB
  6379/tcp: Redis DB
image: fabioogaravini/hassio-nextcloud
