name: Nextcloud
version: "31.0.4-v2"
slug: nextcloud
codenotary: info@fabiogaravini.dev
description: Nextcloud all-in-one
url: https://nextcloud.com
arch:
  - aarch64
  - amd64
init: false
webui: https://[HOST]:[PORT:443]
map:
  - type: addon_config
    read_only: false
  - type: data
    read_only: false
  - type: share
    read_only: false
  - type: media
    read_only: false
  - type: ssl
backup: cold
backup_exclude:
  - "**/log"
tmpfs: true
video: true
devices:
  - /dev/kfd
  - /dev/dri
  - /dev/vchiq
  - /dev/video0
  - /dev/video10
schema:
  PUID: int(0,)
  PGID: int(0,)
  TZ: str?
  DEFAULT_PHONE_REGION: str?
  OVERWRITEPROTOCOL: str?
  OVERWRITEHOST: str?
  OVERWRITECLIURL: str?
  SMTP_HOST: str?
  SMTP_SECURE: str?
  SMTP_PORT: port?
  SMTP_AUTHTYPE: list(LOGIN|PLAIN)?
  SMTP_USERNAME: str?
  SMTP_PASSWORD: password?
  MAIL_FROM_ADDRESS: str?
  MAIL_DOMAIN: str?
options:
  PUID: 1000
  PGID: 1000
ports:
  80/tcp: null
  443/tcp: 8443
  6379/tcp: null
  3306/tcp: null
ports_description:
  80/tcp: HTTP
  443/tcp: HTTPS
  6379/tcp: Redis DB
  3306/tcp: MariaDB
image: fabioogaravini/hassio-{arch}-nextcloud