name: Postgres 16
version: pg16-0.3.0-v1
slug: postgres_16
description: Postgres 16 with VectorChord (and pgvecto.rs for legacy support)
url: https://www.postgresql.org/about/news/postgresql-16-released-2715
startup: initialize
arch:
  - aarch64
  - amd64
map:
  - type: addon_config
    read_only: false
backup: cold
backup_exclude:
  - "*/log"
ports:
  5432/tcp: null
ports_description:
  5432/tcp: Database
options:
  POSTGRES_INITDB_ARGS: --data-checksum
  POSTGRES_HOST_AUTH_METHOD: password
  DB_STORAGE_TYPE: HDD
schema:
  POSTGRES_DB: str
  POSTGRES_HOST_AUTH_METHOD: str
  POSTGRES_USER: str
  POSTGRES_PASSWORD: password
  POSTGRES_INITDB_ARGS: str?
  DB_STORAGE_TYPE: list(SSD|HDD)
image: fabioogaravini/hassio-postgres-16-pgvectors
