name: Calibre
version: 8.16.2
slug: calibre
description: Calibre is a powerful and easy to use e-book manager
url: https://calibre-ebook.com/
arch:
  - aarch64
  - amd64
init: false
map:
  - type: addon_config
    read_only: false
  - type: share
    read_only: false
  - type: media
    read_only: false
schema:
  PUID: int(0,)
  PGID: int(0,)
  TZ: str?
options:
  PUID: 1000
  PGID: 1000
  TZ: Etc/UTC
ports:
  8083/tcp: null
ports_description:
  8384/tcp: Web UI (not needed with Ingress)
image: fabioogaravini/hassio-calibre
