name: Jellyfin
version: 10.11.2
slug: jellyfin
codenotary: info@fabiogaravini.dev
description: Jellyfin is the volunteer-built media solution that puts you in
  control of your media
url: https://jellyfin.org
ingress: true
panel_icon: mdi:filmstrip
panel_admin: false
ingress_port: 8096
ingress_stream: true
hassio_api: true
arch:
  - aarch64
  - amd64
init: false
map:
  - addon_config:rw
  - share:rw
  - media:rw
  - ssl
backup_exclude:
  - "**/cache"
  - "**/transcodes"
  - "**/log"
video: true
devices:
  - /dev/dri
  - /dev/vchiq
  - /dev/video0
  - /dev/video10
  - /dev/video11
  - /dev/video12
schema:
  JELLYFIN_PublishedServerUrl: str?
  ssl: bool
  certfile: str?
  keyfile: str?
options:
  ssl: false
  certfile: fullchain.pem
  keyfile: privkey.pem
ports:
  8080/tcp: 8096
  7359/udp: 7359
  1900/udp: null
ports_description:
  8080/tcp: Jellyfin (Not required for Ingress)
  7359/udp: Client Discovery
  1900/udp: DLNA (optional)
image: fabioogaravini/hassio-jellyfin
