name: Memos
version: 0.26.1
slug: memos
description: note-taking solution designed for seamless deployment and multi-platform access
url: https://www.usememos.com/
webui: "[PROTO:ssl]://[HOST]:[PORT:5230]"
arch:
  - aarch64
  - amd64
init: false
hassio_api: true
map:
  - type: addon_config
    read_only: false
  - type: share
    read_only: false
  - type: ssl
backup: cold
backup_exclude:
  - "**/logs"
schema:
  ssl: bool
  certfile: str?
  keyfile: str?
options:
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
ports:
  5230/tcp: 5230
ports_description:
  5230/tcp: Web UI
image: fabioogaravini/hassio-memos
