name: Syncthing
version: 2.0.14
slug: syncthing
description: Open Source Continuous File Synchronization
url: https://syncthing.net
ingress: true
ingress_port: 8384
ingress_stream: true
panel_title: Syncthing
panel_icon: mdi:sync
arch:
  - aarch64
  - amd64
init: false
backup: cold
map:
  - type: addon_config
    read_only: false
  - type: addons
    read_only: false
  - type: all_addon_configs
    read_only: false
  - type: backup
    read_only: false
  - type: homeassistant_config
    read_only: false
  - type: media
    read_only: false
  - type: share
    read_only: false
  - type: data
    read_only: false
  - type: ssl
host_network: true
ports:
  8384/tcp: null
  22000/tcp: 22000
  22000/udp: 22000
  21027/udp: 21027
ports_description:
  8384/tcp: Web UI (not needed with Ingress)
  22000/tcp: Sync protocol tcp
  22000/udp: Sync protocol udp
  21027/udp: Discovery broadcast
schema:
  PUID: int(0,)
  PGID: int(0,)
  TZ: str?
options:
  PUID: 1000
  PGID: 1000
  TZ: Etc/UTC
image: fabioogaravini/hassio-syncthing
