name: Karakeep
version: 0.30.0-v5
slug: karakeep
description: bookmark-everything app with a touch of AI for the data hoarders out there
url: https://karakeep.app/
webui: "[PROTO:ssl]://[HOST]:[PORT:8080]"
arch:
  - aarch64
  - amd64
init: false
hassio_api: true
map:
  - type: addon_config
    read_only: false
  - type: share
    read_only: false
  - type: ssl
backup: cold
backup_exclude:
  - "**/logs"
schema:
  TZ: str?
  ssl: bool
  certfile: str?
  keyfile: str?
  DISABLE_SIGNUPS: bool
  DISABLE_PASSWORD_AUTH: bool
  EMAIL_VERIFICATION_REQUIRED: bool
  NEXTAUTH_SECRET: password
  MAX_ASSET_SIZE_MB: int?
  NEXTAUTH_URL: str?
  OCR_LANGS: str?
  OCR_CONFIDENCE_THRESHOLD: int(0,100)?
  AI:
    OPENAI_BASE_URL: str?
    OPENAI_API_KEY: password?
    OLLAMA_BASE_URL: str?
    INFERENCE_TEXT_MODEL: str?
    INFERENCE_IMAGE_MODEL: str?
    EMBEDDING_TEXT_MODEL: str?
    INFERENCE_CONTEXT_LENGTH: int(0,)?
    INFERENCE_MAX_OUTPUT_TOKENS: int(0,)?
    INFERENCE_USE_MAX_COMPLETION_TOKENS: int(0,)?
    INFERENCE_LANG: str?
    INFERENCE_ENABLE_AUTO_TAGGING: bool
    INFERENCE_ENABLE_AUTO_SUMMARIZATION: bool
    INFERENCE_JOB_TIMEOUT_SEC: int(0,)?
    INFERENCE_FETCH_TIMEOUT_SEC: int(0,)?
    INFERENCE_OUTPUT_SCHEMA: list(structured|json|plain)?
  Crawler:
    CRAWLER_DOWNLOAD_BANNER_IMAGE: bool
    CRAWLER_STORE_SCREENSHOT: bool
    CRAWLER_FULL_PAGE_SCREENSHOT: bool
    CRAWLER_STORE_PDF: bool
    CRAWLER_FULL_PAGE_ARCHIVE: bool
    CRAWLER_JOB_TIMEOUT_SEC: int(0,)?
    CRAWLER_NAVIGATE_TIMEOUT_SEC: int(0,)?
    CRAWLER_VIDEO_DOWNLOAD: bool?
    CRAWLER_VIDEO_DOWNLOAD_MAX_SIZE: int?
    CRAWLER_VIDEO_DOWNLOAD_TIMEOUT_SEC: int(0,)?
    CRAWLER_ENABLE_ADBLOCKER: bool
    BROWSER_COOKIE_PATH: str?
    HTML_CONTENT_SIZE_INLINE_THRESHOLD_BYTES: int(0,)?
  S3_storage:
    ASSET_STORE_S3_ENDPOINT: str?
    ASSET_STORE_S3_REGION: str?
    ASSET_STORE_S3_BUCKET: str?
    ASSET_STORE_S3_ACCESS_KEY_ID: password?
    ASSET_STORE_S3_SECRET_ACCESS_KEY: password?
    ASSET_STORE_S3_FORCE_PATH_STYLE: bool?
  SMTP:
    SMTP_HOST: str?
    SMTP_PORT: int(0,65535)?
    SMTP_SECURE: bool?
    SMTP_USER: str?
    SMTP_PASSWORD: password?
    SMTP_FROM: str?
  OAuth:
    OAUTH_WELLKNOWN_URL: str?
    OAUTH_CLIENT_ID: password?
    OAUTH_CLIENT_SECRET: password?
    OAUTH_SCOPE: str?
    OAUTH_PROVIDER_NAME: str?
    OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: bool?
    OAUTH_TIMEOUT: int(0,)?
  Monitoring:
    OTEL_TRACING_ENABLED: bool?
    OTEL_EXPORTER_OTLP_ENDPOINT: str?
    OTEL_SERVICE_NAME: str?
    OTEL_SAMPLE_RATE: float(0.0,1.0)?
    PROMETHEUS_AUTH_TOKEN: password?
  env_vars:
    - key: match(^[A-Za-z0-9_-]+$)
      value: str
options:
  TZ: Etc/UTC
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
  DISABLE_SIGNUPS: false
  DISABLE_PASSWORD_AUTH: false
  EMAIL_VERIFICATION_REQUIRED: false
  NEXTAUTH_SECRET: jnE2An0WyIKZvO+WgKJrn8WPW+c3DzV+c9ntBp8CdobTOmpJ
  MAX_ASSET_SIZE_MB: 4
  AI:
    INFERENCE_ENABLE_AUTO_TAGGING: true
    INFERENCE_ENABLE_AUTO_SUMMARIZATION: false
    INFERENCE_OUTPUT_SCHEMA: structured
  Crawler:
    CRAWLER_DOWNLOAD_BANNER_IMAGE: true
    CRAWLER_STORE_SCREENSHOT: false
    CRAWLER_FULL_PAGE_SCREENSHOT: false
    CRAWLER_STORE_PDF: false
    CRAWLER_FULL_PAGE_ARCHIVE: false
    CRAWLER_ENABLE_ADBLOCKER: true
  S3_storage:
    ASSET_STORE_S3_FORCE_PATH_STYLE: false
  SMTP:
    SMTP_PORT: 587
    SMTP_SECURE: true
  OAuth:
    OAUTH_SCOPE: openid email profile
    OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: false
    OAUTH_TIMEOUT: 3500
  Monitoring:
    OTEL_TRACING_ENABLED: false
  env_vars: []
ports:
  8080/tcp: 3011
ports_description:
  8080/tcp: Web UI
image: fabioogaravini/hassio-karakeep
